soap-express-crud-example/src/api/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<!-- Name how the document is called -->
<!-- The targetNamespace is a convention of XML Schema that enables the WSDL document to refer to itself. -->
<!-- tempuri.org is the test default namespace URI used by Microsoft development products, like Visual Studio. -->
<wsdl:definitions 
  name="soap-express-crud-example"
  targetNamespace="http://tempuri.org/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  >

  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
     <s:element name="ReadOrDeleteUserRequestDataType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="email" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrUpdateUserRequestDataType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:number"/>
            <s:element minOccurs="1" maxOccurs="1" name="email" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="CreateUserRequest">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>

  <wsdl:message name="CreateUserResponse">
      <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>

  <wsdl:message name="ReadUserRequest">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>

  <wsdl:message name="ReadUserResponse">
      <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>

  <wsdl:message name="UpdateUserRequest">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>

  <wsdl:message name="DeleteUserRequest">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>

  <wsdl:message name="DeleteUserResponse">
      <wsdl:part name="parameters" element="tns:CreateOrUpdateUserRequestDataType"/>
  </wsdl:message>


  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
    <!-- The operation name must be the same as the one specified in the service object -->
  <wsdl:portType name="CreateUserPortType">
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserRequest"/>
      <wsdl:output message="tns:CreateUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>
    
  <wsdl:portType name="ReadUserPortType">
    <wsdl:operation name="ReadUser">
      <wsdl:input message="tns:ReadUserRequest"/>
      <wsdl:output message="tns:ReadUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>
    
  <wsdl:portType name="UpdateUserPortType">
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserRequest"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="DeleteUserPortType">
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserRequest"/>
      <wsdl:output message="tns:DeleteUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="CreateUserSoapBinding" type="tns:CreateUserPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="\" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="ReadUserSoapBinding" type="tns:ReadUserPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReadUser">
      <soap:operation soapAction="\" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="UpdateUserSoapBinding" type="tns:UpdateUserPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="\" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="DeleteUserSoapBinding" type="tns:DeleteUserPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="\" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- SERVICE:  -->
  <wsdl:service name="CreateUserService">
    <wsdl:port name="CreateUserServiceSoapPort" binding="tns:CreateUserSoapBinding">
      <soap:address location="http://localhost:3000/SOAP/user"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:service name="ReadUserService">
    <wsdl:port name="ReadUserServiceSoapPort" binding="tns:ReadUserSoapBinding">
      <soap:address location="http://localhost:3000/SOAP/user"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:service name="UpdateUserService">
    <wsdl:port name="UpdateUserServiceSoapPort" binding="tns:UpdateUserSoapBinding">
      <soap:address location="http://localhost:3000/SOAP/user"/>
    </wsdl:port>
  </wsdl:service>

  <wsdl:service name="DeleteUserService">
    <wsdl:port name="DeleteUserServiceSoapPort" binding="tns:DeleteUserSoapBinding">
      <soap:address location="http://localhost:3000/SOAP/user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>